
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TCCA</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
    <!--           <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Michael Aranda </h1>
      <p><%= image_tag "MichaelAranda.jpg", class: "img-rounded" %></p>
      <p><%= image_tag "MichaelAranda-2.jpg", class: "img-rounded" %></p>
      <p><%= image_tag "MichaelAranda-3.jpg", class: "img-rounded" %></p>
      <p><%= image_tag "MichaelAranda-4.jpg", class: "img-rounded" %></p>
      <p><%= image_tag "MichaelAranda-5.jpg", class: "img-rounded" %></p>
      <p><%= image_tag "MichaelAranda-6.jpg", class: "img-rounded" %></p>

    </div> <!-- /container -->

